// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

// Language selector
[data-target="dropdown-menu-language-chooser-header"] > span:not(.sr-only) {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: rgb(var(--secondary-rgb) / 1);
}

[data-target="dropdown-menu-language-chooser-header"] > svg {
  flex: none;
  width: 1.25rem;
  height: 1.25rem;
  fill: rgb(var(--secondary-rgb) / 1);
}

#dropdown-menu-language-chooser-header .dropdown {
  left: 0;
  right: auto;
}

// Hide the native footer language chooser (moved to the header).
.main-footer__language-container {
  display: none;
}
