<div class="field">
  <%= form.select :document_type, handler.census_document_types, prompt: true %>
</div>

<div class="field">
  <%= form.text_field :id_document %>
</div>

<%= form.hidden_field :handler_name %>
